body {
  background-color: #000;
  color: #fff;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

/* Add this CSS rule to style the content wrapper */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
  width: auto;
  height: auto;
}

.title {
  font-size: 3rem;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 0;
}

.newsletter-form {
  /* Add any necessary styling for the Mailchimp form */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.animated-form {
  animation: bounce 2s infinite;
}
